<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camping la Clairie Bleu</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="html/js/app_home.js"></script>
    <link rel="stylesheet" href="css/style_home.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script src="https://unpkg.com/vue-i18n@9"></script>

<script defer src="html/js/app_index.js"></script>
</head>
<body id="app">
    <div id="home">
        <nav>
            <div id="link">
                <a href="#">{{ $t('nav.home') }}</a>
                <a href="html/activites.html">{{ $t('nav.activities') }}</a>
                <a href="html/contact.html">{{ $t('nav.contact') }}</a>
                <a href="contact/Apropos.html">{{ $t('nav.about') }}</a>
                
                <select v-model="currentLang" @change="changeLanguage" id="chooseLanguage">
                    <option value="fr">{{ $t('nav.lang_fr') }}</option>
                    <option value="en">{{ $t('nav.lang_en') }}</option>
                </select>
            </div>
            <a id="logo-identification" href="html/admin.html">
                <img src="images/connexion.png" alt="" id="logo-id-img">
            </a>
        </nav>
        <div id="logo-center">
            <img src="images/logo blanc.png" alt="" id="logo-center-img">
        </div>
    </div>

    <div id="second-page">

        <div class="formules" v-for="formule in formules" :id="'formule-' + formule.id">
            <h1>Formule {{formule.nom}}</h1>
            <p class="prix">{{formule.prix}} €</p>
             <div class="text-formules">
                <p>{{formule.options}}</p>
                <a href="html/utilisateur.html"><button class="btn-reservation">Je Réserve</button></a>
            </div>
        </div>
    </div>

    <div id="third-page">
        <img src="images/fleur.png" alt="" class="logo-fleur">
        <p>{{ $t('description.part1') }}</p>
        
        <img src="images/fleur.png" alt="" class="logo-fleur">
        <p>{{ $t('description.part2') }}</p>
        
        <img src="images/fleur.png" alt="" class="logo-fleur">
        <p>{{ $t('description.part3') }}</p>
        
        <img src="images/fleur.png" alt="" class="logo-fleur">
    </div>
</div>

    
</body>
</html>